
@font-face {
    font-family: "Cera Pro Light";
    src: url('../fonts/CeraPro-Light.woff2') format('woff2'),
         url('../fonts/CeraPro-Light.woff') format('woff'),
         url('../fonts/CeraPro-Light.ttf') format('ttf'),
         url('../fonts/CeraPro-Light.eot') format('eot');
            font-weight: 300;
}
@font-face {
    font-family: "Cera Pro Regular";
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2'),
         url('../fonts/CeraPro-Regular.woff') format('woff'),
         url('../fonts/CeraPro-Regular.ttf') format('ttf'),
         url('../fonts/CeraPro-Regular.eot') format('eot');
            font-weight: 400;
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2'),
         url('../fonts/CeraPro-Medium.woff') format('woff'),
         url('../fonts/CeraPro-Medium.ttf') format('ttf'),
         url('../fonts/CeraPro-Medium.eot') format('eot');
            font-weight: 500;
}
@font-face {
    font-family: "Cera Pro SemiBold";
    src: url('../fonts/CeraPro-SemiBold.woff2') format('woff2'),
         url('../fonts/CeraPro-SemiBold.woff') format('woff'),
         url('../fonts/CeraPro-SemiBold.ttf') format('ttf'),
         url('../fonts/CeraPro-SemiBold.eot') format('eot');
            font-weight: 600;
}
@font-face {
    font-family: "Cera Pro Bold";
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2'),
         url('../fonts/CeraPro-Bold.woff') format('woff'),
         url('../fonts/CeraPro-Bold.ttf') format('ttf'),
         url('../fonts/CeraPro-Bold.eot') format('eot');
            font-weight: 700;
}
@font-face {
    font-family: "Cera Pro Black";
    src: url('../fonts/CeraPro-Black.woff2') format('woff2'),
         url('../fonts/CeraPro-Black.woff') format('woff'),
         url('../fonts/CeraPro-Black.ttf') format('ttf'),
         url('../fonts/CeraPro-Black.eot') format('eot');
            font-weight: 900;
}
.container {
    padding: 30px 120px 52px 120px;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}
.bttn {
    border-radius: 6px;
    border: none;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 7px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-family: "Cera Pro Medium", sans-serif;
}
.bttn:active {
    background-color: #57c773;
}
.nav_list {
    display: flex;
    gap: 30px;
}
.nav_item {
    padding: 8px 0 22px 0px;
    border-bottom: 3px solid transparent;
    font-family: "Cera Pro Regular", sans-serif;
}
.nav_item:hover {
    border-bottom: 3px solid #46A358;
    cursor: pointer;
    font-family: "Cera Pro Bold", sans-serif;
}
.intro {
    display: flex;
    justify-content: space-between;
    gap: 123px;
}
.shop_intro {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 68px 0 85px 40px;
}
span.shop_welcome {
    font-family: "Cera Pro Medium", sans-serif;
    color: #3D3D3D;
    font-size: 14px;
    margin: 0 0 4px 0px;
}
h1.shop_title {
    font-family: "Cera Pro Black", sans-serif;
    color: #3D3D3D;
    font-size: 70px;
    margin: 4px 0 3px 0;
}
.shop_title_last_word {
    display: inline;
    font-family: "Cera Pro Black", sans-serif;
    font-size: 70px;
    color: #46A358;
    padding: 0;
}
p.shop_text {
    font-family: "Cera Pro Regular", sans-serif;
    color: #727272;
    font-size: 14px;
    margin: 3px 0 22px 0;
}
button.shop_bttn {
    display: flex;
    /* max-width: 140px;
    max-height: 40px; */
    border-radius: 6px;
    border: none;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 10px 26px;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 16px;
    margin: 22px 0 0;
}
.shop_bttn:active {
    background-color: #57c773;
}
.shop_img {
    width: 507px;
    height: 450px;
}
.main {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.vert_menu{
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
}
.vert_menu_tittle{
    padding: 14px 0 0 40px;
}
.vert_nav_list {
    padding: 7px 0 377px 40px;
}
.vert_nav_item {
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 15px;
    padding: 10px 0 15px 0;
}
.vert_nav_item:hover {
    cursor: pointer;
    font-family: "Cera Pro Bold", sans-serif;
    color: #46A358;
}
.sale_banner {
 
}
.sale_banner_img {
    width: 310px;
    height: 470px;
}
.general {
    display: flex;
    flex-direction: column;
}
.main_nav {
    display: flex;
    justify-content: space-between;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 15px;
    color: #3D3D3D;
}
.main_nav_list {
    display: flex;
    gap: 37px;
}
.main_nav_item {
    padding: 0 0 4px 0px;
    border-bottom: 3px solid transparent;
}
.main_nav_item:hover {
    border-bottom: 3px solid #46A358;
    cursor: pointer;
    font-family: "Cera Pro SemiBold", sans-serif;
}
.filter {
    display: flex;
    padding: 0 0 7px 0;
}
.arrow_down_img {
    width: 16px;
    height: 16px;
}
.main_content{
    display: flex;
    padding: 30px 0 90px 0;
}
.goods {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
}
.unit {
    padding: 0 0 41px 0;
}
.unit_pic {
    min-width: 258px;
    min-height: 300px;
    display: flex;
    justify-content: center;
}
.unit_name {
    font-family: "Cera Pro Light", sans-serif;
    font-size: 16px;
    color: #3D3D3D;
    padding: 12px 0 6px 4px;
}
.price {
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 18px;
    color: #46A358;
    padding: 0 0 4px 4px;
}
.page_selector {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding: 38px 120px 90px 120px;
}
.PSbutton, .PSbutton1 {
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    color: #3D3D3D;
    width: 35px;
    height: 35px;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 18px;
}
.PSbutton:active {
    background-color: #46A358;
    font-family: "Cera Pro Bold", sans-serif;
    color: white;
}