
@font-face {
    font-family: "Cera Pro Light";
    src: url('../fonts/CeraPro-Light.woff2') format('woff2'),
         url('../fonts/CeraPro-Light.woff') format('woff'),
         url('../fonts/CeraPro-Light.ttf') format('ttf'),
         url('../fonts/CeraPro-Light.eot') format('eot');
            font-weight: 300;
}
@font-face {
    font-family: "Cera Pro Regular";
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2'),
         url('../fonts/CeraPro-Regular.woff') format('woff'),
         url('../fonts/CeraPro-Regular.ttf') format('ttf'),
         url('../fonts/CeraPro-Regular.eot') format('eot');
            font-weight: 400;
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2'),
         url('../fonts/CeraPro-Medium.woff') format('woff'),
         url('../fonts/CeraPro-Medium.ttf') format('ttf'),
         url('../fonts/CeraPro-Medium.eot') format('eot');
            font-weight: 500;
}
@font-face {
    font-family: "Cera Pro SemiBold";
    src: url('../fonts/CeraPro-SemiBold.woff2') format('woff2'),
         url('../fonts/CeraPro-SemiBold.woff') format('woff'),
         url('../fonts/CeraPro-SemiBold.ttf') format('ttf'),
         url('../fonts/CeraPro-SemiBold.eot') format('eot');
            font-weight: 600;
}
@font-face {
    font-family: "Cera Pro Bold";
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2'),
         url('../fonts/CeraPro-Bold.woff') format('woff'),
         url('../fonts/CeraPro-Bold.ttf') format('ttf'),
         url('../fonts/CeraPro-Bold.eot') format('eot');
            font-weight: 700;
}
@font-face {
    font-family: "Cera Pro Black";
    src: url('../fonts/CeraPro-Black.woff2') format('woff2'),
         url('../fonts/CeraPro-Black.woff') format('woff'),
         url('../fonts/CeraPro-Black.ttf') format('ttf'),
         url('../fonts/CeraPro-Black.eot') format('eot');
            font-weight: 900;
}
.container {
    padding: 30px 120px 52px 120px;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}
.bttn {
    border-radius: 6px;
    border: none;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 7px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-family: "Cera Pro Medium", sans-serif;
}
.bttn:active {
    background-color: #57c773;
}
.nav_list {
    display: flex;
    gap: 30px;
}
.nav_item {
    padding: 8px 0 22px 0px;
    border-bottom: 3px solid transparent;
    font-family: "Cera Pro Regular", sans-serif;
}
.nav_item:hover {
    border-bottom: 3px solid #46A358;
    cursor: pointer;
    font-family: "Cera Pro Bold", sans-serif;
}
.intro {
    display: flex;
    justify-content: space-between;
    gap: 83px;
}
.shop_intro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 68px 40px 85px 40px;
}
span.shop_welcome {
    font-family: "Cera Pro Medium", sans-serif;
    color: #3D3D3D;
    font-size: 14px;
    margin: 0 0 4px 0px;
}
h1.shop_title {
    font-family: "Cera Pro Black", sans-serif;
    color: #3D3D3D;
    font-size: 70px;
    margin: 4px 0 3px 0;
}
.shop_title_last_word {
    display: inline;
    font-family: "Cera Pro Black", sans-serif;
    font-size: 70px;
    color: #46A358;
    padding: 0;
}
p.shop_text {
    font-family: "Cera Pro Regular", sans-serif;
    color: #727272;
    font-size: 14px;
    margin: 3px 0 22px 0;
}
button.shop_bttn {
    display: flex;
    border-radius: 6px;
    border: none;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 10px 26px;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 16px;
    margin: 22px 0 0;
}
.shop_bttn:active {
    background-color: #57c773;
}
.shop_img {
    width: 507px;
    height: 450px;
}
.main {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.vert_menu{
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
}
.vert_maenu_list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 14px 40px;
    margin-bottom: 353px;
}
.vert_nav_item {
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 15px;
    padding: 10px 0 15px 0;
}
.vert_nav_item:hover {
    cursor: pointer;
    font-family: "Cera Pro Bold", sans-serif;
    color: #46A358;
}
.sale_banner_img {
    width: 310px;
    height: 470px;
}
.general {
    display: flex;
    flex-direction: column;
}
.main_nav {
    display: flex;
    justify-content: space-between;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 15px;
    color: #3D3D3D;
}
.main_nav_list {
    display: flex;
    gap: 37px;
}
.main_nav_item {
    padding: 0 0 4px 0px;
    border-bottom: 3px solid transparent;
}
.main_nav_item:hover {
    border-bottom: 3px solid #46A358;
    cursor: pointer;
    font-family: "Cera Pro SemiBold", sans-serif;
}
.filter {
    display: flex;
    padding: 0 0 7px 0;
    gap: 7px;
}
.arrow_down_img {
    width: 16px;
    height: 16px;
}
.goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    gap: 70px 33px;
    margin: 30px 0 0 0;
}
.unit {
    padding: 0 0 4px 0;
    min-width: 258px;
}
.unit_pic {
    display: flex;
    justify-content: center;
    align-content: center;
}
.unit_name_price {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px 4 6px 4px;
}
.unit_name {
    font-family: "Cera Pro Light", sans-serif;
    font-size: 16px;
    color: #3D3D3D;
}
.price {
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 18px;
    color: #46A358;
}
.page_selector {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
    margin-top: 90px;
}
.PSbutton, .PSbutton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    color: #3D3D3D;
    width: 35px;
    height: 35px;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 18px;
}
.PSbutton:active {
    background-color: #46A358;
    font-family: "Cera Pro Bold", sans-serif;
    color: white;
}
.promo {
    display: flex;
    flex-direction: row;
    gap: 28px;
    justify-content: center;
    align-items: center;
    padding: 100px 0 138px 0;
}
.promo_one {
    display: flex;
    flex-direction: row;
}
.promo_two {
    display: flex;
    flex-direction: row;
}
.promo_img_first {
    z-index: 1;
    position: relative;
    bottom: 52px;
}
.promo_text_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
    position: relative;
    right: 23px;
    padding: 37px 30px 46px 0;
}
.promo_unit_title {
    display: flex;
    font-family: "Cera Pro Black", sans-serif;
    color: #3D3D3D;
    font-size: 18px;
    text-align: right;
    padding-bottom: 9px;

}
.promo_unit_text {
    display: flex;
    font-family: "Cera Pro Light", sans-serif;
    font-size: 14px;
    color: #3D3D3D;
    text-align: right;
    padding-bottom: 25px;
}
.find_more {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 12px 28px;
    gap: 5px;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
}
.blog_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}
.our_blog {
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 30px;
}
.blog_intro {
    color: #727272;
    text-align: center;
    font-family: "Cera Pro Light", sans-serif;
    font-size: 14px;
}
.blog_posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    gap: 44px;
}
.blog_item {
    display: flex;
    flex-direction: column;
    max-width: 268px;
}
.blog_short_info {
    display: flex;
    flex-direction: column;
    padding: 9px 12px 12px 12px;
    gap: 5px;
}
.publication_date {
    color: #46A358;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
}
.blog_about {
    color: #3D3D3D;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 20px;
}
.short_text {
    color: #727272;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
}
.read_more {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 4px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
}
.read_more:hover {
    color: #46A358;
    cursor: pointer;
    font-family: "Cera Pro Bold", sans-serif;
}